.for-whom {
  height: 750px;
  background-image: url('../images/for-whom/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.for-whom .container {
  height: 100%;
}

.for-whom__content {
  width: 100%;
  height: 100%;
  position: relative;
}

.for-whom__content-image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.for-whom__content-main {
  padding: 50px 50px 50px 100px;
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 20%;
  
  right: 30%;
  background-color: #ffffff;
  border-radius: 0px 200px 0px 0px;
}

.for-whow__content-title {
  position: relative;
}
.for-whow__content-title img{
  position: absolute;
  left: -7%;
  top: 50%;
  transform: translateY(-50%)
}

.for-whom__content-main h2 {
  width: 70%;
  font-weight: 500;
  margin-bottom: 16px;
}
.for-whom__content-main > p {
  color: #717171;
  margin-bottom: 33px;
}

.for-whom__content-main li{
  position: relative;
  align-items: center;
  margin-bottom: 20px;
}

.for-whom__content-main li img{
  position: absolute;
  left: -7%;
  top: 50%;
  transform: translateY(-50%)
}


.for-whom__content-main li p {
  position: relative;
}
.for-whom__content-main li p:before {
  content: '';
  width: 24px;
  height: 24px;
  background-size: cover;
  background: url('../images/icons/colored/check-box.svg');
  background-repeat: no-repeat no-repeat;

  position: absolute;
  left: -7%;
}

.for-whom__form {
  display: flex;
  justify-content: space-between;
}
.for-whom__form input{
  width: 48%;
}

@media (max-width: 1024px) {
  .for-whom__form input {
    width: unset;
  }
  .for-whom__form input:first-child {
    margin-right: 10px;
  }
}